.listItem {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 6px 24px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  align-items: center;
  cursor: pointer;
}

.listItem:hover {
  background: #fafafa;
}

.listItem__pokeball {
  width: 24px;
  height: 24px;
}
