* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.side {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
}

.content {
  flex: 2;
}

@media (min-width: 800px) {
  .page {
    flex-direction: row;
  }
  .content {
    border-left: 3px solid #e5e5e5;
    padding: 48px;
  }
}
